@import "tailwindcss";

@layer base {
    * {
        font-family: "Inter", sans-serif;
        user-select: none;
        scroll-behavior: smooth;
    }

    .font-cool {
        font-family: "Zen Dots", sans-serif;
    }

    /* Quitar flechas en number input */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Quitar flechas en number input */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

@theme {
    
    /* 
    --color-neutral-950: oklch(98.5% 0 0);
    --color-neutral-900: oklch(97% 0 0);
    --color-neutral-800: oklch(92.2% 0 0);
    --color-neutral-700: oklch(87% 0 0);
    --color-neutral-600: oklch(70.8% 0 0);
    --color-neutral-500: oklch(55.6% 0 0);
    --color-neutral-400: oklch(43.9% 0 0);
    --color-neutral-300: oklch(37.1% 0 0);
    --color-neutral-200: oklch(26.9% 0 0);
    --color-neutral-100: oklch(20.5% 0 0);
    --color-neutral-50: oklch(14.5% 0 0);

    --color-primary: #31aee3; */

    --color-primary: #f1da0c;

    --animate-fade-in-top: fade-in-top 0.5s ease-out both;
    --animate-in-right: in-right 0.5s ease-in-out both;

    @keyframes fade-in-top {
        0% {
            transform: translateY(-15px);
            opacity: 0;
        }

        ,
        to: {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes in-right {
        0% {
            transform: translateX(80px);
        }

        ,
        to: {
            transform: translateY(0);
        }
    }



}