@import "tailwindcss";

@layer base {
    * {
        font-family: "Inter", sans-serif;
        user-select: none;
        scroll-behavior: smooth;
    }

    .font-cool {
        font-family: "Zen Dots", sans-serif;
    }

    /* Quitar flechas en number input */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Quitar flechas en number input */
    input[type=number] {
        -moz-appearance: textfield;
    }


    .animate {
        animation: tri-right linear forwards;
        animation-timeline: view();
    }


    @keyframes tri-right {
        0% {
            opacity: 0;
            transform: translateX(-200px)translateY(-400px)scale(100%);
        }

        70% {
            opacity: 1;
            transform: translateX(200px)translateY(0px)scale(110%);
        }


        100% {
            opacity: 0;
            transform: translateX(-200px)translateY(200px)scale(100%);
        }
    }
}

@theme {

    /* --color-neutral-950: #001f13;
    --color-neutral-900: #003422;
    --color-neutral-800: #004d35;
    --color-neutral-700: #006748;
    --color-neutral-600: #1d7a58;
    --color-neutral-500: #439573;
    --color-neutral-400: #60b18e;
    --color-neutral-300: #7dcea9;
    --color-neutral-200: #9aecc6;
    --color-neutral-100: #dcffed;
    --color-neutral-50: #dcffed; 
    --color-primary: #f1da0c;*/

    /* --color-neutral-50: #fae6d3;
    --color-neutral-100: #f3caa0;
    --color-neutral-200: #eeba80;
    --color-neutral-300: #e79b47;
    --color-neutral-400: #e07912;
    --color-neutral-500: #96510c;
    --color-neutral-600: #442700;
    --color-neutral-700: #3c2100;
    --color-neutral-800: #281500;
    --color-neutral-900: #1c0d00; */
    --color-primary: #eb8a1f;
    --color-primary2: #ea8e44;


    --animate-fade-in-top: fade-in-top 0.5s ease-out both;
    --animate-in-right: in-right 0.5s ease-in-out both;

    @keyframes fade-in-top {
        0% {
            transform: translateY(-15px);
            opacity: 0;
        }

        ,
        to: {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes in-right {
        0% {
            transform: translateX(80px);
        }

        ,
        to: {
            transform: translateY(0);
        }
    }



}